# Node.js
node_modules/
npm-debug.log*

# macOS
.DS_Store

# Env files
.env
.env.*

# Expo generated types
expo-env.d.ts

# Expo
.expo/
.expo-shared/

# iOS
/ios/build/
/ios/Pods/
/ios/Podfile.lock
ios/*.xcodeproj/*
ios/*.xcworkspace/*
ios/xcuserdata/

# Android
/android/.gradle/
/android/build/
/android/app/build/
/android/local.properties